html {
  scroll-behavior: smooth;
}

.logo {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 34px;
  font-weight: 700;
}

h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  width: fit-content;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 4px solid;
  margin-bottom: 5px;
}
